@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@400;500&display=swap');

body{
    background-color: #007ced;
    margin-top: 30px;

}
.page-scroll{
    width: 100%;
    height: auto;
    min-height: 100%;
    vertical-align: middle;
    -ms-flex-pack: center;
    justify-content: center;
 
    -webkit-box-direction: normal;
    -webkit-box-orient: horizontal;
   
    align-content: stretch;
    -webkit-box-align: center;
    align-items: center;
    backface-visibility: hidden;
}
.back-img{
    position: absolute;
    width: auto;
    height: auto;
    top: -18px;
    left: -18px;
    right: -18px;
    bottom: -18px;
    background-image: url(assets/img/main_bg_14.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}
.page-container{
    overflow: hidden;
    background-color: rgba(255,255,255,1);
}
.page-container:not(.full-width-container) {
    max-width: 94%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 40px;

}

.transition-flip{
    transform-origin: 50% 50%;
    animation: flipInLeft .5s both ease-out;
}
.space{
    margin-top: 80px;
    margin-bottom: 80px;
}
.home-img{
    display: block;
    position: relative;
    width: 100%;
    /* padding-bottom: calc(100% - 36px); */
    background-color: #fff;
    border-radius: 1000px;
    border: 18px solid #fff;
    overflow: hidden;
    box-shadow: 0 0 25px 0 rgba(0,0,0,.1);
    
}
.home-text{
    padding-left: 30px;
    margin-top: 20px;
    width: 70%;


}
h4{
    color: #aaa;
}
h1, h2{
    color: #333;
    
}
h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins",Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
}

p{
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 1.75em;
    font-weight: 400;
    color: #666;
}
.home-text h1{
    font-size: 48px;
    line-height: 56px;
    margin-top: 0;
    margin-bottom: 20px;
}
.home-text h4{
    font-family: "Poppins",Helvetica,sans-serif;
    font-size: 16px;
    color: #aaa;
    font-weight: 400;
    margin-bottom: 10px;
}
.block-tittle h2{
    display: inline-block;
    position: relative;
    font-size: 20px;
    margin: 0 0 30px;
    z-index: 1;
    padding-bottom: 7px;
}
.block-tittle h2::before{
    display: block;
    position: absolute;
    content: '';
    width: 100%;
    background-color: #f5f5f5;
    height: 2px;
    bottom: 0;
}
.block-tittle h2::after{
    display: block;
    position: absolute;
    content: '';
    width: 30px;
    background-color: #7066ff;
    height: 2px;
    bottom: 0;
}
.icon{
    color: #7066ff;
    font-size: 50px;
    position: relative;
    display: table-cell;
    padding: 0 10px 5px 0;

}
.icon-text{
    position: relative;
    display: table-cell;
    padding: 0 0 0 15px;
    vertical-align: middle;
}
.icon-text h4{
    margin: 7px;
    font-size: 16px;
    color: #333;
}
.copywrite{
    position: relative;
    text-align: left;
    /* width: 100%; */
    display: table;
    margin: 0;
    padding: 0 10px 30px 0;
    /* display: flex; */
}
.copywrite p{
    font-size: .92em;
    margin: 0 0 10px;
    margin: 7px;
}
.testimonial{
    margin-right: 10px ;
}
.testimonial-items{
    padding: 30px;
    margin-bottom: 10px;
}
.testimonal-content{
    position: relative;
    padding: 30px 20px 20px 60px;
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    transition: all .25s ease-in-out;
}
.testimonail-img{
    position: absolute;
    display: block;
    top: -30px;
    left: -30px;
    width: 80px;
    height: 80px;
}
.testimonail-img img{
    border-radius: 80px;
}
img{
    vertical-align: bottom;
    max-width: 100%;
    height: auto;
    border: 0;
}
.testimonial-text p{
    font-style: italic;
}
.testimonial-author-info{
    margin-top: 15px
}
.author{
    margin: 0 0 2px;
    font-size: .9em;
    font-family: "Poppins",Helvetica,sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #333;
}
.testimonial-firm{
    margin: 0;
    font-size: .8em;
    color: #bbb;
}
.testimonial-icon{
    display: block;
    line-height: 20px;
    font-size: 20px;
    position: absolute;
    left: 20px;
    bottom: 46px;
    color: #e5e5e5;
    
}
.testimonial-icon-big{
    display: block;
    line-height: 44px;
    font-size: 44px;
    position: absolute;
    right: -24px;
    bottom: -24px;
    color: #f5f5f5;
 
}
.carousel_display{
    display: flex;
}
.client_1{
    width: 100px;
}
.lm-info-block {
    position: relative;
    text-align: center;
    width: 100%;
    display: block;
    margin: 0 0 15px;
    background: #fff;
    padding: 25px 10px 15px;
    border: 2px solid #e5e5e5;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.lm-info-block h4 {
    font-size: 16px;
    margin: 15px;
}
.lm-info-block-value {
    color: #d5d5d5;
    font-size: 48px;
    line-height: 52px;
    display: block;
    margin: 15px 0 10px;
}
.lm-info-block-text {
    display: block;
}
.site-footer{
    background-color: #fcfcfc;
    border-color: #eee;
    border-top: 2px solid #f2f2f2;
    display: block;
    position: relative;
    margin: 60px -70px -60px;
    padding: 15px 45px;
}
.social{
    float: left;
    

}

.social-link ul{
    list-style: none;
    margin-left: 40px;
    padding: 0;
}
.social-link li{
    padding: 10px;
}
ul{
    list-style-type: none;
    display: flex;

}

.social-page{
    color: #aaa;
    text-decoration: none;
    
}
.copyright{
    float: right;
}
.copyright p {
    color: #aaa;
    line-height: 21px;
    font-size: 13px;
    margin-right: 40px;
}




/*Resume page style*/
.page-title {
    background-color: #fcfcfc;
    border-top:2px solid #eee;
    border-bottom: 2px solid #eee;
    padding: 20px;
    margin: 30px 0px ;

    
}
.page-title h1 {
    color: #333;
    font-size: 40px;
    font-family: "Poppins",Helvetica,sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
}
.page-title .page-subtitle {
    top: -60px;
    right: 70px;
    position: relative;
}
.page-title .page-subtitle h4 {
    color: #aaa;
    font-size: 14px;
    font-family: "Poppins",Helvetica,sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0;
    text-align: right;
}
.timeline-item:first-child {
    padding-top: 3px;
}
.timeline-item{
    border-color: #007ced;
}
.timeline-item {
    position: relative;
    padding: 25px 0 20px 40px;
}
.timeline-item::before{
    border-color: #007ced;
    content: '';
    position: absolute;
    display: block;
    height: 120%;
    background-color: #f5f6f9;
    width: 1px;
    left: 15px;
    bottom: 2px;
}
.timeline-item h5.item-period {
    border-color: #007ced;
}
.timeline-item h5.item-period {
    display: inline-block;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 5px -40px;
    color: #666;
    background-color: #fff;
    padding: 0 10px;
    line-height: 23px;
    border: 2px solid #7066ff;
    border-radius: 30px;
}
.timeline-item .item-period{
    font-family: "Poppins",Helvetica,sans-serif;
}
.timeline-item .item-company {
    display: inline-block;
    font-size: 12px;
    color: #666;
    opacity: .7;
    margin-left: 5px;
}
.timeline-item .item-title {
    font-size: 16px;
    margin: 10px 0 7px;
    color: #333;
}

.timeline-item p, .timeline-item .text {
    color: #666;
    font-size: .92em;
}
.timeline-item:after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: #f5f6f9;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}
.timeline-item:last-child {
    margin-bottom: 30px;
}
.timeline-item:after:last-child {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    background-color: white;
    width: calc(100% - 15px);
    left: 15px;
    bottom: 3px;
}
.certi-content {
    display: table-cell;
    width: 100%;
    padding: 20px 25px;
    vertical-align: middle;
}
.certificate-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: all .2s ease-in-out;
}
.certi-logo {
    display: table-cell;
    width: 120px;
    height: 100%;
    background-color: #f5f5f5;
    padding: 25px;
    vertical-align: middle;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}
.certi-logo img {
    display: block;
    max-width: 100%;
}
.certi-content {
    display: table-cell;
    width: 100%;
    padding: 20px 25px;
    vertical-align: middle;
}
.certi-title h4 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #333;
}
.certi-id {
    font-size: .9em;
    color: #777;
}
.certi-date {
    font-size: .7em;
    color: #777;
    opacity: .7;
}
.design{
    margin-bottom: 30px;
}
.clearfix::before{
    content: " ";
    display: table;
}
.clearfix::after{
    clear: both;
    content: " ";
    display: table;
}
.design h4{
    font-size: 13px;
    line-height: 1.1em;
    position: relative;
    float: left;
    margin: 0 0 4px;
    color: #333;
}
.design .skill-value{
    font-size: 11px;
    line-height: 1.1em;
    position: relative;
    float: right;
    margin: 0 0 4px;
    color: #888;
}
.skill-container{
    position: relative;
    background-color: transparent;
    border: 2px solid #e5e5e5;
    border-radius: 8px;
    box-sizing: border-box;
    height: 12px;
    margin-bottom: 15px;
    width: 100%;
}
#skill div.skill-percentage{
    background-color: #007ced;
}
#skill .skill-percentage{
    width: 95%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#skill2 div.skill-percentage{
    background-color: #007ced;
}
#skill2 .skill-percentage{
    width: 75%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#skill3 div.skill-percentage{
    background-color: #007ced;
}
#skill3 .skill-percentage{
    width: 85%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#skill4 div.skill-percentage{
    background-color: #007ced;
}
#skill4 .skill-percentage{
    width: 80%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
/*Coding skill*/
#coding-skill div.skill-percentage{
    background-color: #007ced;
}
#coding-skill .skill-percentage{
    width: 100%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}

#coding-skill2 div.skill-percentage{
    background-color: #007ced;
}
#coding-skill2 .skill-percentage{
    width: 70%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#coding-skill3 div.skill-percentage{
    background-color: #007ced;
}
#coding-skill3 .skill-percentage{
    width: 85%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#coding-skill4 div.skill-percentage{
    background-color: #007ced;
}
#coding-skill4 .skill-percentage{
    width: 95%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
/*Writing skill*/
#writing-skill div.skill-percentage{
    background-color: #007ced;
}
#writing-skill .skill-percentage{
    width: 95%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#writing-skill2 div.skill-percentage{
    background-color: #007ced;
}
#writing-skill2 .skill-percentage{
    width: 80%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#writing-skill3 div.skill-percentage{
    background-color: #007ced;
}
#writing-skill3 .skill-percentage{
    width: 90%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
/*Marketing Skill*/
#marketing-skill div.skill-percentage{
    background-color: #007ced;
}
#marketing-skill .skill-percentage{
    width: 80%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}
#marketing-skill2 div.skill-percentage{
    background-color: #007ced;
}
#marketing-skill2 .skill-percentage{
    width: 75%;
    height: 6px;
    border-color: rgba(255,255,255,1);
    margin-left: 1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-radius: 3px;
}

